<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="cooperative">
      <h2 data-cy="cooperativeDetailsHeading"><span jhiTranslate="blogApp.cooperative.detail.title">Cooperative</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cooperative.id }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.cooperative.name">Name</span></dt>
        <dd>
          <span>{{ cooperative.name }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.cooperative.creationDate">Creation Date</span></dt>
        <dd>
          <span>{{ cooperative.creationDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.cooperative.nameDG">Name DG</span></dt>
        <dd>
          <span>{{ cooperative.nameDG }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cooperative', cooperative.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
