<div>
  <h2 id="page-heading" data-cy="AUserHeading">
    <span jhiTranslate="blogApp.aUser.home.title">A Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="blogApp.aUser.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-a-user"
        [routerLink]="['/a-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blogApp.aUser.home.createLabel"> Create a new A User </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="aUsers?.length === 0">
    <span jhiTranslate="blogApp.aUser.home.notFound">No aUsers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="aUsers && aUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="blogApp.aUser.id">Id</span></th>
          <th scope="col"><span jhiTranslate="blogApp.aUser.name">Name</span></th>
          <th scope="col"><span jhiTranslate="blogApp.aUser.surname">Surname</span></th>
          <th scope="col"><span jhiTranslate="blogApp.aUser.email">Email</span></th>
          <th scope="col"><span jhiTranslate="blogApp.aUser.phoneNumber">Phone Number</span></th>
          <th scope="col"><span jhiTranslate="blogApp.aUser.possesses">Possesses</span></th>
          <th scope="col"><span jhiTranslate="blogApp.aUser.restaurant">Restaurant</span></th>
          <th scope="col"><span jhiTranslate="blogApp.aUser.areIn">Are In</span></th>
          <th scope="col"><span jhiTranslate="blogApp.aUser.lead">Lead</span></th>
          <th scope="col"><span jhiTranslate="blogApp.aUser.own">Own</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aUser of aUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/a-user', aUser.id, 'view']">{{ aUser.id }}</a>
          </td>
          <td>{{ aUser.name }}</td>
          <td>{{ aUser.surname }}</td>
          <td>{{ aUser.email }}</td>
          <td>{{ aUser.phoneNumber }}</td>
          <td>
            <div *ngIf="aUser.possesses">
              <a [routerLink]="['/restaurant', aUser.possesses?.id, 'view']">{{ aUser.possesses?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="aUser.restaurant">
              <a [routerLink]="['/restaurant', aUser.restaurant?.id, 'view']">{{ aUser.restaurant?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="aUser.areIn">
              <a [routerLink]="['/cooperative', aUser.areIn?.id, 'view']">{{ aUser.areIn?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="aUser.lead">
              <a [routerLink]="['/cooperative', aUser.lead?.id, 'view']">{{ aUser.lead?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="aUser.own">
              <a [routerLink]="['/basket', aUser.own?.id, 'view']">{{ aUser.own?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/a-user', aUser.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/a-user', aUser.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(aUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
