<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="restaurant">
      <h2 data-cy="restaurantDetailsHeading"><span jhiTranslate="blogApp.restaurant.detail.title">Restaurant</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="blogApp.restaurant.id">Id</span></dt>
        <dd>
          <span>{{ restaurant.id }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.restaurant.streetAddress">Street Address</span></dt>
        <dd>
          <span>{{ restaurant.streetAddress }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.restaurant.postalCode">Postal Code</span></dt>
        <dd>
          <span>{{ restaurant.postalCode }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.restaurant.city">City</span></dt>
        <dd>
          <span>{{ restaurant.city }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.restaurant.stateProvince">State Province</span></dt>
        <dd>
          <span>{{ restaurant.stateProvince }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.restaurant.offer">Offer</span></dt>
        <dd>
          <div *ngIf="restaurant.offer">
            <a [routerLink]="['/products', restaurant.offer?.id, 'view']">{{ restaurant.offer?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="blogApp.restaurant.belongs">Belongs</span></dt>
        <dd>
          <div *ngIf="restaurant.belongs">
            <a [routerLink]="['/cooperative', restaurant.belongs?.id, 'view']">{{ restaurant.belongs?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/restaurant', restaurant.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
