<div>
  <h2 id="page-heading" data-cy="DeliveryHeading">
    <span jhiTranslate="blogApp.delivery.home.title">Deliveries</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="blogApp.delivery.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-delivery"
        [routerLink]="['/delivery/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="blogApp.delivery.home.createLabel"> Create a new Delivery </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="deliveries?.length === 0">
    <span jhiTranslate="blogApp.delivery.home.notFound">No deliveries found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="deliveries && deliveries.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="blogApp.delivery.id">Id</span></th>
          <th scope="col"><span jhiTranslate="blogApp.delivery.streetAddress">Street Address</span></th>
          <th scope="col"><span jhiTranslate="blogApp.delivery.postalCode">Postal Code</span></th>
          <th scope="col"><span jhiTranslate="blogApp.delivery.city">City</span></th>
          <th scope="col"><span jhiTranslate="blogApp.delivery.stateProvince">State Province</span></th>
          <th scope="col"><span jhiTranslate="blogApp.delivery.paid">Paid</span></th>
          <th scope="col"><span jhiTranslate="blogApp.delivery.tripPrice">Trip Price</span></th>
          <th scope="col"><span jhiTranslate="blogApp.delivery.creator">Creator</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let delivery of deliveries; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/delivery', delivery.id, 'view']">{{ delivery.id }}</a>
          </td>
          <td>{{ delivery.streetAddress }}</td>
          <td>{{ delivery.postalCode }}</td>
          <td>{{ delivery.city }}</td>
          <td>{{ delivery.stateProvince }}</td>
          <td>{{ delivery.paid }}</td>
          <td>{{ delivery.tripPrice }}</td>
          <td>
            <div *ngIf="delivery.creator">
              <a [routerLink]="['/a-user', delivery.creator?.id, 'view']">{{ delivery.creator?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/delivery', delivery.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/delivery', delivery.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(delivery)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
