<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="aUser">
      <h2 data-cy="aUserDetailsHeading"><span jhiTranslate="blogApp.aUser.detail.title">A User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="blogApp.aUser.id">Id</span></dt>
        <dd>
          <span>{{ aUser.id }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.aUser.name">Name</span></dt>
        <dd>
          <span>{{ aUser.name }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.aUser.surname">Surname</span></dt>
        <dd>
          <span>{{ aUser.surname }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.aUser.email">Email</span></dt>
        <dd>
          <span>{{ aUser.email }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.aUser.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ aUser.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="blogApp.aUser.possesses">Possesses</span></dt>
        <dd>
          <div *ngIf="aUser.possesses">
            <a [routerLink]="['/restaurant', aUser.possesses?.id, 'view']">{{ aUser.possesses?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="blogApp.aUser.restaurant">Restaurant</span></dt>
        <dd>
          <div *ngIf="aUser.restaurant">
            <a [routerLink]="['/restaurant', aUser.restaurant?.id, 'view']">{{ aUser.restaurant?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="blogApp.aUser.areIn">Are In</span></dt>
        <dd>
          <div *ngIf="aUser.areIn">
            <a [routerLink]="['/cooperative', aUser.areIn?.id, 'view']">{{ aUser.areIn?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="blogApp.aUser.lead">Lead</span></dt>
        <dd>
          <div *ngIf="aUser.lead">
            <a [routerLink]="['/cooperative', aUser.lead?.id, 'view']">{{ aUser.lead?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="blogApp.aUser.own">Own</span></dt>
        <dd>
          <div *ngIf="aUser.own">
            <a [routerLink]="['/basket', aUser.own?.id, 'view']">{{ aUser.own?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/a-user', aUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
